/* NAV TRANSITION */
.sidenav {
    transition: 0.5s;
}

/* OPEN AND CLOSE WIDTH */
.open {
    width: 200px;
}

.close {
    width: 0px;
}

/* CLOSE BUTTON */
.sidenav .closebtn {
    position: absolute;
    top: 48px;
    right: 12px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

@media (min-width: 400px) {
    .open {
        width: 260px;
    }
}
